.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai
.Rproj.user
.positai
.Rproj.user
.positai
.Rproj.user
.positai
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
